@import './_mixins';
@import './_vars';

.about {
  &__article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto-fit, repeat(2, 1fr);
    gap: 32px;
    justify-items: start;
    padding: 48px 0;
    font-weight: 500;
    line-height: 180%;
    color: $textColorArticle;
    @include media(tablet) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto-fit, 1fr;
    }
    @include media(desktop, desktopHd) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 40px;
      padding: 100px 0 118px;
    }
  }

  &__title {
    line-height: 90%;
    @include media(tablet) {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
  }

  &__paragraph {
    margin: 0;
  }
}
