@import './_mixins.scss';
@import './_vars.scss';

.application {
  background-image: url('../images/application_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    padding: 62px 0 48px;

    @include media(tablet) {
      padding: 62px 0 70px;
    }
    @include media(desktop, desktopHd) {
      padding: 100px 0;
    }
  }

  &__header-section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media(tablet) {
      flex-direction: row;
      gap: 16px;
    }

    @include media(desktop, desktopHd) {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__title {
    width: 280px;
    line-height: 110%;

    @include media(tablet) {
      flex-grow: 1;
    }

    @include media(desktop, desktopHd) {
      width: 540px;
      flex-direction: column;
      gap: 50px;
    }
  }

  &__text {
    width: 280px;
    margin: 0;
    font-size: 16px;
    line-height: 156%;
    @include media(tablet) {
      flex-grow: 1;
    }

    @include media(desktop, desktopHd) {
      width: 400px;
      font-size: 24px;
    }
  }
}

.application-form {
  &__person-info {
    display: flex;
    flex-direction: column;
  }

  &__input-field {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    font-size:16px;
    line-height: 24px;
    background: none;
    border: none;

    &:focus {
      outline: 0;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      content: "";
      border-radius: 1px;
      border: 5px solid #A4AFC1;
    }
  }

  &__name {
  }

  &__email {
  }

  &__message{
    height: fit-content;
    resize: none;
  }
  &__attach-symbol{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.09),
      0 6px 8px rgba(0, 0, 0, 0.09),
      0 4px 4px rgba(0, 0, 0, 0.09),
      0 2px 2px rgba(0, 0, 0, 0.09),
      0 1px 1px rgba(0, 0, 0, 0.09);
  }

  &__cv-attachment-input {
    display: none;
  }

  &__button {
    width: 280px;
    height: 73px;
    border-radius: 8px;
    background-color: $colorLightGreen;
    border: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.09),
      0px 6px 8px rgba(0, 0, 0, 0.09), 0px 4px 4px rgba(0, 0, 0, 0.09),
      0px 2px 2px rgba(0, 0, 0, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.09);
    font-weight: 800;
    line-height: 120%;
    color: #073325;
    transition: width 0.3s;

    @include media (desktop, desktopHd) {
      width: 386px;
    }

    &:hover {
      background-color: $colorLightGreenHover;
    }
  }
}
