@import './_mixins.scss';

@font-face {
	font-family: 'Helvetica Now Display';
	src: url('/fonts/Monotype  - Helvetica Now Display.eot');
	src: local('☺'), url('/fonts/Monotype  - Helvetica Now Display.woff') format('woff'), url('/fonts/Monotype  - Helvetica Now Display.ttf') format('truetype'), url('/fonts/Monotype  - Helvetica Now Display.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Now Display';
	src: url('/fonts/Monotype  - Helvetica Now Display Black.eot');
	src: local('☺'), url('/fonts/Monotype  - Helvetica Now Display Black.woff') format('woff'), url('/fonts/Monotype  - Helvetica Now Display Black.ttf') format('truetype'), url('/fonts/Monotype  - Helvetica Now Display Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Now Display';
	src: url('/fonts/Monotype  - Helvetica Now Display Bold.eot');
	src: local('☺'), url('/fonts/Monotype  - Helvetica Now Display Bold.woff') format('woff'), url('/fonts/Monotype  - Helvetica Now Display Bold.ttf') format('truetype'), url('/fonts/Monotype  - Helvetica Now Display Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Now Display';
	src: url('/fonts/Monotype  - Helvetica Now Display Medium.eot');
	src: local('☺'), url('/fonts/Monotype  - Helvetica Now Display Medium.woff') format('woff'), url('/fonts/Monotype  - Helvetica Now Display Medium.ttf') format('truetype'), url('/fonts/Monotype  - Helvetica Now Display Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Now Display';
	src: url('/fonts/Monotype  - Helvetica Now Display XBlack.eot');
	src: local('☺'), url('/fonts/Monotype  - Helvetica Now Display XBlack.woff') format('woff'), url('/fonts/Monotype  - Helvetica Now Display XBlack.ttf') format('truetype'), url('/fonts/Monotype  - Helvetica Now Display XBlack.svg') format('svg');
	font-weight: 950;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Now Display';
	src: url('/fonts/Monotype  - Helvetica Now Display XBold.eot');
	src: local('☺'), url('/fonts/Monotype  - Helvetica Now Display XBold.woff') format('woff'), url('..//fonts/Monotype  - Helvetica Now Display XBold.ttf') format('truetype'), url('/fonts/Monotype  - Helvetica Now Display XBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

body {
  margin: 0;
  font-family: 'Helvetica Now Display', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
	width: 100%;
}

code {
  font-family: Monotype Helvetica Now,
    monospace;
}

.container {
	position: relative;
	box-sizing: border-box;
	max-width: 1440px;

	margin: 0 auto;
	padding: 0 20px;

	@include media(desktop, desktopHd) {
		padding: 0 90px;
	}
}
